html 
{
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body { margin:0;background-color:#003366;color:#66AAFF;}
a {color:#66AAFF;}
a:hover
{
background: #cb60b3;
background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(50%,#ad1283), color-stop(100%,#de47ac));
background: -webkit-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
background: -o-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
background: -ms-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 50%,#de47ac 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 );
}

input[type=submit],
input[type=button] {
  display: inline-block;
  padding: 0 20px;
  min-width: 100px;
  border: 1px solid #5B92E5;
  height: 40px;
  color: #fff;
  font: bold 13px/40px 'Open Sans', sans-serif;
  cursor: pointer;
  background: #5b92e5;
  background: -moz-linear-gradient(top, #5b92e5 0%, #7caaed 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5b92e5), color-stop(100%, #7caaed));
  background: -webkit-linear-gradient(top, #5b92e5 0%, #7caaed 100%);
  background: -o-linear-gradient(top, #5b92e5 0%, #7caaed 100%);
  background: -ms-linear-gradient(top, #5b92e5 0%, #7caaed 100%);
  background: linear-gradient(to bottom, #5b92e5 0%, #7caaed 100%);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px; }
  input[type=submit]:focus,
  input[type=button]:focus {
    border: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.5); }


